---
import BentoItem from "./BentoItem.astro";

import { getI18n } from "@/i18n/";
const { currentLocale } = Astro;

const i18n = getI18n({ currentLocale });
---

<section
	class={`
 w-full max-w-[1400px]
 grid grid-cols-10 auto-rows-[35rem] gap-6
 mx-auto p-20
`}
>
	<!-- BENTO ITEM 1 -->
	<BentoItem class="col-span-10 lg:col-span-4" title={i18n.BENTO_TITLE_1}>
		<div
			slot="image"
			class="transition-scale absolute bottom-0 left-0 top-0
			-z-10 h-full w-full bg-blue-950
			bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
			style="background-image: url('/mountain.webp')"
		>
		</div>

		<p slot="content" class="max-w-xl" set:html={i18n} />
	</BentoItem>

	<!-- BENTO ITEM 2 -->
	<BentoItem
		class="col-span-10 md:col-span-6"
		title={i18n.BENTO_TITLE_2}
		subtitle={i18n.BENTO_SUBTITLE_2}
	>
		<div
			slot="image"
			class="absolute left-0 top-0 bottom-0 w-full
  h-full group-hover:scale-110 transition-scale duration-1000
  ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-blue-950 -z-10"
			style="background-image: url('/pistas.webp')"
		>
		</div>
		<p slot="content" class="max-w-xl" set:html={i18n} />
	</BentoItem>

	<!-- BENTO ITEM 3 -->
	<BentoItem
		class="col-span-10 md:col-span-6"
		title={i18n.BENTO_TITLE_3}
		subtitle={i18n.BENTO_SUBTITLE_3}
	>
		<div
			slot="image"
			class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-blue-800 -z-10"
			style="background-image: url('/grefposing.webp')"
		>
		</div>
		<p slot="content" class="max-w-xl" set:html={i18n} />
	</BentoItem>

	<!-- BENTO ITEM 4 -->
	<BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_4}>
		<div
			slot="image"
			class="absolute left-0 top-0 bottom-0 w-full
  h-full group-hover:scale-110 transition-scale duration-1000
  ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-900 -z-10"
			style="background-image: url('/laptop.webp')"
		>
		</div>
		<p slot="content" class="max-w-xl" set:html={i18n}></p>
	</BentoItem>
</section>
